<!-- FOOTER -->
<footer class="container well text-center">
    <p class="person-info">&copy; Nguyễn Việt Tiến - 2324802010369</p>
    <p class="person-info">Sdt: 0896699703</p>
    <p class="person-info">Email: jackacevn@gmail.com</p>
    <p class="person-info">Ba: Nguyễn Việt Thành</p>
    <p class="person-info">Mẹ: Nguyễn Hoàng Hạnh Vân</p>
    <p class="person-info">Thường trú: 15/3 Nguyễn Thị Minh Khai, Phường Bình Định, Tỉnh Gia Lai</p>
</footer>
