<!-- NHÀ XUẤT BẢN -->
@model IEnumerable<NguyenVietTien.SachOnline.Models.NHAXUATBAN>
<ul class="list-group">
    <li class="list-group-item active" style="font-weight:bold; text-align:center;">SÁCH THEO NHÀ XUẤT BẢN</li>
    @foreach (var nhaXuatBan in Model)
    {
        <a href="@Url.Action("SachTheoNhaXuatBan", "NguyenVietTien_SachOnline", new { id = nhaXuatBan.MaNXB })" class="list-group-item">@nhaXuatBan.TenNXB</a>
    }
</ul>